<div class="bannerb" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/zblwSNT/fresh-made-rotating-cocktail-cuba-libre-as-4k-uhd-footage-not-loopable_eoac0zroe__F0000.png');">
  <div class="banner-content">
    <%= simple_form_for(@cocktail) do |f| %>
      <br>
      <h2>Create one cocktail:</h2>
      <%= f.input :name%>
      <br>
      <%= f.input :description%>
      <br>
      <div class="btn btn-primary">
      <%= f.submit :class => "btn" %>
      </div>
    <% end %>
  </div>
</div>

