<div class="container mt-2" style="background-color: white;">
  <%= @cocktail.photo %>
  <button class="btn btn-primary">
    <%= link_to 'Edit', edit_cocktail_path, :class => "btn" %>
  </button>
</div>
