<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Luidiblu" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/di.pisani" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/diegopisani/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    I don't have friends
  </div>
</div>
